.holder
{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: max-content auto;
  margin: auto;
  padding: 2em;
  column-gap: 3em;
  place-content: center;
}

.art
{
  max-width: 15em;
  margin: auto;
}

.art img
{
  width: 100%;
}

.text
{
  font-size: 1.5em;
  padding: 1em;
}

.title
{
  color: #fafafa;
  background-color: #366b66;
  border-radius: 2em;
  margin: auto;
  text-align: center;
  -webkit-text-stroke: 1px #FFFFFF; /* Толщина и цвет обводки */
  text-shadow: 1px 1px 10px #f2f1a2;
  width: 5em;
  display: inline-block;
}

.head
{
  font-size: 2.5em;
}


dd {
  display: list-item;
  list-style-image: url("check.webp");
  padding-inline-start: 1ch;
}
