.holder
{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: max-content auto;
  margin: auto;
  padding: 2em;
  column-gap: 3em;
}

.art
{
  max-width: 10em;
}

.art img
{
  width: 100%;
}

.road
{
  display: grid;
  grid-gap: 2em;
  grid: auto  / repeat(4, auto);
}

.item:nth-child(even){
  margin-top: auto;
}

.item
{

}

.text
{
  font-size: 1.5em;
}

.title
{
  font-size: 2.5em;
  color: #fafafa;
  background-color: #366b66;
  border-radius: 2em;
  margin: auto;
  text-align: center;
  -webkit-text-stroke: 1px #FFFFFF; /* Толщина и цвет обводки */
  text-shadow: 1px 1px 10px #f2f1a2;
}
