.wrapper
{
  padding-bottom: 50px;
  min-height: 80vh;
  font-size: 23px;
}

.text-block
{
  max-width: 80%;
  color: #0f2b45;
  margin: auto;
  padding-top: 30px;
}

.title
{
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  background: linear-gradient(0deg, #1a393f 30%, #00b79b 66%, #00b79b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #1a393f;
  font-family: "Markazi Text", serif;
}

.description
{
  padding-bottom: 15px;
}

.responses
{
  font-size: 25px;
  padding-bottom: 15px;
}

.reqs
{
  font-size: 25px;
  padding-bottom: 15px;
}

.text-block a
{
  text-decoration: none;
  font-weight: bolder;
  color: inherit;
}


.cards
{
  margin: auto;
  width: 90%;
  list-style: none;
}

.card
{
  box-shadow: 10px 5px 5px #Edf2f5;
  margin: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 10px;
}

.button-main
{
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.title-list
{
  font-weight: bolder;
  font-size: 25px;
}

.additional
{
  margin: 2px;
  vertical-align: middle;
  color: #003b3d;
}

.additional-icon
{
  color: #68c7ba;
}
