.wrapper
{
  padding-top: 100px;
  background-color: #f6f6f6;
  font-size: 20px;
}

.holder
{
  display: grid;
  grid-template-columns: 50% 40%;
  grid-template-rows: auto;
}

.text-block
{
  margin: auto;
}

.main-title
{
  padding: 30px;
  font-size: 43px;
  color: #1a393f; /* Цвет текста */
  font-weight: 600;
  background-color: #fafafa;
}

.colored-unexus
{
  background: linear-gradient(0deg, #1a393f 30%, #00b79b 66%, #00b79b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #1a393f;
}

.right
{
  text-align: right;
}

.left
{
  text-align: left;
}

.center
{
  text-align: center;
}

.text
{
  max-width: 800px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #1a393f;
  font-size: 30px;
  padding-left: 15px;
}

.image-box
{
  margin: auto;
}

.image-box img
{
  width: 100%;
}

.platform
{
  padding-bottom: 150px;
}

.text-headline-block
{
  margin: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fafafa;
}

.about-item
{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  color: #1a393f;
  font-size: 25px;
  margin-bottom: 20px;
}

.item-art
{
  margin: auto;
  max-width: 150px;
}

.item-art img
{
  width: 100%;
}

.item-text
{
  margin: auto;
  color: #124e50;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.subtitle
{
  text-align: center;
  padding: 15px;
  font-size: 30px;
}


.about-holder
{
  margin: auto;
  max-width: 80%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  padding-top: 50px;
  padding-bottom: 50px;
  column-gap: 1em;
}
