.wrapper
{
  background-color: #f7f7f7;
  padding-top: 150px;
}

.holder
{
  display: grid;
  grid-template-columns: 50% 30%;
  grid-template-rows: auto;
}

.text-block
{
  margin: auto;
}

.title
{
  font-weight: 400;
  font-size: 60px;
  color:  #0f2b45;
}

.main-title
{
  text-align: center;
  padding: 30px;
  font-size: 45px;
  color: #FFFFFF; /* Цвет текста */
  -webkit-text-stroke: 1px #0f2b45; /* Толщина и цвет обводки */
  text-stroke: 1px #0f2b45; /* Толщина и цвет обводки (стандартное свойство) */
}

.text
{
  max-width: 400px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #0f2b45;
  font-size: 20px;
}

.image-box
{
  margin: auto;
}

.image-box img
{
  width: 100%;
}

.about
{
  padding-bottom: 150px;
}

.platform
{
  padding-bottom: 150px;
}

.carousel-wrapper{
  min-height:500px;
  position:relative;
  max-width:600px;
  margin:auto;
}

.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}

.carousel-item h2
{
  text-align: center;
  color: #185b9a;
}

.carousel-item img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.arrow{
  border: solid #12395e;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
  right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
}

@media (max-width: 480px) {
  .arrow, .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}


/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4, #item-5:target ~ .item-5 {
  z-index: 3;
  opacity: 1;
}

.text-headline-block
{
  margin: auto;
  max-width: 800px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

.headline
{
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 35px;
  color: #12395e;
}


.button-men
{
  margin: 2px;
  border: 1px solid;
  border-color: #0f2b45;
  font-size: 20px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f5fbff;
  cursor: pointer;
  border-radius: 25px;
  color: #12395e;
}

.button-men:hover
{
  background-color: #Edf2f5;
}
