.wrapper
{
  background-color: #f7f7f7;
  font-family: 'Khmer MN', sans-serif;
}

.holder
{
  display: grid;
  grid-template-columns: 50% 30%;
  grid-template-rows: auto;
}

.video-box img
{
  width: 100%;
}

.video-box
{
  cursor: pointer;
  margin: auto;
  transition: 1s;
  max-width: 550px;
}

.video-box:hover
{
  transform: scale(1.2);
}

.text-block
{
  margin: auto;
}

.title
{
  font-weight: 400;
  font-size: 60px;
  color:  #0f2b45;
}

.main-title
{
  color: #0f2b45;
  text-align: center;
  padding: 30px;
  font-size: 45px;
}

.text
{
  max-width: 400px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #0f2b45;
  font-size: 20px;
}

.stroke
{
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #33006F;
  padding: 10px;
  font-weight: 500;
}

.image-box
{
  margin: auto;
}

.image-box img
{
  width: 100%;
}

.placeholder
{
  width: 600px;
  height: 350px;
  background-color: aliceblue;
  margin: 20px;
  border-radius: 25px;
  border: #0f2b45 1px solid;
}
