.wrapper
{
  display: grid;
  background-size: cover;
  grid-template-columns: 100%;
  background: rgb(77,185,168);
  background: -moz-linear-gradient(90deg, rgba(77,185,168,1) 0%, rgba(0,59,61,1) 80%);
  background: -webkit-linear-gradient(90deg, rgba(77,185,168,1) 0%, rgba(0,59,61,1) 80%);
  background: linear-gradient(90deg, rgba(77,185,168,1) 0%, rgba(0,59,61,1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4db9a8",endColorstr="#003b3d",GradientType=1);
  z-index: 1;
}

.holder
{
  padding-top: 20px;
  padding-bottom: 20px;
  grid-area: 1/1;
  display: grid;
  grid-template-rows: auto;
  z-index: 1;
}

.holder img
{
  margin: 0;
  padding: 0;
  width: 100%;
}


.image-box
{
  margin: auto;
  max-width: max-content;
  width: 50%;
  z-index: 1;
}

.image-box img
{
  width: 100%;
}

.text-block
{
  margin: auto;
  z-index: 1;
}

.headline
{
  padding-bottom: 10px;
  ;
  font-size: 60px;
  max-width: 500px;
  color: #003b3d;
  mix-blend-mode: overlay;
  text-align: center;
}

.stroke
{
  ;
  color: #b5fef3;
  mix-blend-mode: screen;
}
