.wrapper
{
  min-height: 150px;
  font-family: "Markazi Text", serif;
}

.lower-menu
{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding: 15px;
}

.menu_item
{
  display: inline-block;
  height: auto;
  margin-left: 50px;
  cursor: pointer;
  ;
  vertical-align: middle;
  color: #003b3d;
  font-size: 2em;
}

.logo
{
  vertical-align: middle;
  margin: auto 10px;
}


.docs a
{
  text-decoration: none;
  margin-left: 5px;
  color: #003b3d;
}

.docs a:hover
{
  color: #185b9a;
}

.docs
{
  margin: 20px;
  font-size: 20px;
}

.copyrights
{
  margin-left: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 25px;
}


.site-navigation-link
{
  cursor: pointer;
  color: #003b3d;
  padding: 10px;
  text-decoration: none;
}

.site-navigation-link:hover
{
  color: #185b9a;
}

.logo-img
{
  max-width: 150px;
}

.button-nav
{
  margin: auto;
  background: none;
  padding: 5px 20px;
  border-radius: 25px;
  background-blend-mode: screen;
  border-width: 0;
  font-size: 1.5em;
  color: #1a393f;
  cursor: pointer;
}

.button-nav:hover
{
  background: rgb(237, 242, 245, 0.8);
  background-blend-mode: normal;
}

.buttons
{
  max-width: fit-content;
  margin: auto;
}

.bnt-text-logo
{
  vertical-align: middle;
  margin: auto;
  font-weight:800;
  text-transform: uppercase;
  font-style: normal;
  font-family: "DM Sans", sans-serif;
  font-size: 1.3em;
  color: #EB1478;
}
