.wrapper
{
  padding-bottom: 50px;
  height: 100%;
  padding-left: 15px;
}

.title
{
  font-weight: 400;
  font-size: 60px;
  color:  #003c3d;
  text-align: center;
  font-family: "Markazi Text", serif;
  padding-top: 25px;
}

.text-block
{
  max-width: 1200px;
  margin: 15px auto;
  color: #003c3d;
  font-size: 25px;
}

.buttons
{
  text-align: center;
}


.holder
{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}
