.navigation
{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  padding: 1em;
  background-color: rgba(80,205,249,1);
}

.buttons
{
  margin: auto;
}

.nav-menu
{
  margin: auto;
}

.menu-box
{
  text-align: center;
}

.menu_item
{
  display: inline-block;
  height: auto;
  vertical-align: middle;
  font-size: 22px;
  margin-left: 10px;
}

.logo
{
  vertical-align: middle;
  margin: auto;
}

.site-navigation-link
{
  cursor: pointer;
  text-decoration: underline transparent;
  transition: text-decoration 400ms ease-in;
  text-underline-position: under;
  text-underline-offset: 20px;
}

.site-navigation-link:hover,
.site-navigation-link:focus
{
  text-decoration: underline;
  text-decoration-color: #33006F;
  text-underline-offset: 20px;
  text-underline-position: under;
  text-decoration-thickness: 4px;
}
