.navigation
{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  padding: 10px;
}

.buttons
{
  margin: auto;
}

.nav-menu
{
  margin: auto;
  padding: 10px;
}

.menu-box
{
  text-align: center;
}

.menu_item
{
  display: inline-block;
  height: auto;
  vertical-align: middle;
  font-size: 30px;
}

.logo
{
  vertical-align: middle;
  margin: auto;
}

.logo-img
{
  max-width: 150px;
}

.site-navigation-link
{
  cursor: pointer;
  text-decoration: underline transparent;
  transition: text-decoration 300ms ease-in;
  color: #003b3d;
  padding: 10px;
  font-weight: 600;
}

.site-navigation-link:hover
{
  text-decoration: underline;
  text-decoration-color: #0f2b45;
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
}

.button-nav
{
  margin: auto;
  background: none;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  background-blend-mode: screen;
  border-width: 0;
  font-size: 20px;
  color: #003b3d;
  font-weight: 600;
  cursor: pointer;
}

.button-nav:hover
{
  background: rgb(237, 242, 245, 0.8);
  background-blend-mode: normal;
}


.bnt-text
{
  vertical-align: middle;
  margin: auto;
}

.button-nav img
{
  vertical-align: middle;
  margin: auto;
}
